/* Swiper common code */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Service section */
#previousBtn:hover path,
#innovative-pre-btn:hover path,
#patientsay-pre-btn:hover path {
  fill: #32B9A9;
}

#previousBtn:hover circle,
#innovative-pre-btn:hover circle,
#patientsay-pre-btn:hover circle {
  stroke: #32B9A9;
}

#nextBtn:hover path,
#innovative-next-btn:hover path,
#patientsay-next-btn:hover path {
  fill: #32B9A9;
}

#nextBtn:hover circle,
#innovative-next-btn:hover circle,
#patientsay-next-btn:hover circle {
  stroke: #32B9A9;
}

/* Inovative section */
.inovative-swiper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inovative-swiper:hover > div {
  z-index: 10;
}

/* Blog Post */

.swiper-pagination{
  display: flex;
  justify-content: start;
  align-items: center;
}

.swiper-pagination-bullet {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      font-size: 16px;
      color: #000;
      opacity: 1;
      background: #F1F5F5;
    }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #32B9A9;
  }